#terms {
    height: 100px;
    width: 50%;
    border: 2px solid #ccc;
    overflow: auto;
    word-wrap: break-word;
    white-space: normal;
    word-wrap: break-word !important;
    white-space: normal!important;
    width: 50%;
    font-size: 10px;
    text-align: center;
    text-overflow: ellipsis;
}

#eventDescription {
    height: 100px;
    width: 50%;
    border: 2px solid #ccc;
    overflow: auto;
    word-wrap: break-word;
    white-space: normal;
    word-wrap: break-word !important;
    white-space: normal!important;
    width: 50%;
    font-size: 10px;
    text-align: center;
}

#input {
    text-align: center;
}

#create {
    margin: 20px 0;
}
