* {
    font-family: 'Open Sans', sans-serif;
}

.center {
    text-align: center;
}

#parameters {
    padding: 5px;
    background-color: #edeff2;
}

.nav {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#output {
    background-color: #c2c4c6;
    /*padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;*/
    padding: 5px;
}

#insert-bands {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
}

#insert-events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
}


/*#box1 {
    background-color: #ba3d1d;
    background-image: images/me.jpg;
}

#box2 {
    background-color: #21bc8e;
}

#box3 {
    background-color: green;
}

#box4 {
    background-color: orange;
}
*/

.flex-item {
    background-color: tomato;
    /*border-style: solid;
*/
    padding: 5px;
    width: 400px;
    height: 250px;
    margin: 10px 5px 0;
    color: white;
    font-weight: bold;
    background-image: images/me.jpg;
}

.band-flex-item {
    background-color: #6bd2e0;
    /*border-style: solid;
*/
    width: 200px;
    height: 100px;
    margin: 10px 5px 0;
    color: white;
    font-weight: bold;
    background-image: images/me.jpg;
}

.apply-flex-item {
    background-color: tomato;
    /*border-style: solid;
*/
    width: 200px;
    height: 100px;
    margin: 10px 5px 0;
    color: white;
    font-weight: bold;
    background-image: images/me.jpg;
}

.flex-item:hover {
    border: 1px solid white;
}

.flex-item-header {
    text-align: center;
}


/*.navbar {
    background-color: #1b2e4c;
    text-decoration: white;
    color: white;
}

.nav a {
    color: white;
}
*/
