* {
    font-family: 'Open Sans', sans-serif;
}


/*
Overriding Bootstrap*/

#insert-event {
    word-wrap: break-word;
}

#bandsPlaying {
    padding-bottom: 3em;
}

.navbar {
    border-radius: 0;
}

.center {
    text-align: center;
}

#parameters {
    border-radius: 10px;
}

.nav {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

a:hover {
    color: #e56649;
    font-weight: bold;
}


/*.navbar {
    background-color: #1b2e4c;
    text-decoration: white;
    color: white;
}

.nav a {
    color: white;
}
*/
